@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400;500&display=swap");

html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a img {
  width: auto;
  max-height: 100%;
  height: 50px;
  display: block;
  object-fit: contain;
  padding: 10px;
}

img {
  object-fit: contain;
}

p {
  line-height: 3;
  text-align: justify;
}

.banner a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.banner {
  background-color: #131a28;
  position: fixed;
  display: flex;
  height: 80px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.left {
  display: flex;
}

.centre {
  display: flex;
  gap: 30px;
  position: fixed;
  left: 38%;
}

.centre a {
  padding: 7.5px;
}

/* Link hover effects */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: blueviolet;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

.right {
  display: flex;
  gap: 5px;
  padding-right: 10px;
}

/* Social Media Icons */
ul {
  display: flex;
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

ul li {
  list-style: none;
}

ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #3b5999;
}

ul li:nth-child(2) a:before{
  background: #7289da;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
}

#home {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url("./images/homepage-background.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.logo-text {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  z-index: 999;
}

.logo-text-large {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 128px;
  z-index: 999;
}

#about {
  background-color: white;
  padding: 100px;
  color: #131a28;
  height: 100vh;
  text-align: center;
}

#events {
  background-color:  white;
  padding: 100px;
  text-align: center;
  color: #131a28;
  height: 100vh;
}

#contact {
  background-color: white;
  text-align: center;
  color: #131a28;
  padding: 100px;
  height: 600px;
}

#contact p {
  line-height: 10px;
  text-align: center;
}

#footer {
  background-color: #131a28;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}